<launch>

  <!--Robot Description from URDF-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find kbot_description)/urdf/kbot.xacro"/>  

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  

  <!--Gazebo empty world launch file-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    	<arg name="debug" value="false" />
    	<!-- <arg name="gui" value="true" /> -->
    	<arg name="paused" value="false"/>
    	<arg name="use_sim_time" value="true"/>
    	<!-- <arg name="headless" value="false"/>
    	<arg name="verbose" value="true"/> -->
      <arg name="world_name" value="$(find kbot_description)/world/test_home.world"/>
  </include>

  <!--Gazebo Simulator-->
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model kbot " output="screen"/>
 
  <!--RViz-->
  <!-- <node name="rviz" pkg="rviz" type="rviz" required="true"/> -->

  <node pkg="rviz" type="rviz" name="rviz" required="true"
      args="-d $(find rviz_camera_stream)/config/rviz_camera_stream.rviz"
       />

  <group ns="cam">

  <node pkg="tf" type="static_transform_publisher" name="camera_broadcaster"
      args="2 -2 8 1 0 0 0 map cam 10" />

  <node name="camera_info" pkg="rostopic" type="rostopic"
      args="pub camera_info sensor_msgs/CameraInfo
     '{header: {seq: 0, stamp: {secs: 0, nsecs: 0}, frame_id: 'cam'},
      height: 480, width: 640, distortion_model: 'plumb_bob',
      D: [0],
      K: [500.0, 0.0, 320, 0.0, 500.0, 240.0, 0.0, 0.0, 1.0],
      R: [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
      P: [500.0, 0.0, 320, 0.0, 0.0, 500, 240, 0.0, 0.0, 0.0, 1.0, 0.0],
      binning_x: 0, binning_y: 0,
      roi: {x_offset: 0, y_offset: 0, height: 480, width: 640, do_rectify: false}}' -r 2"
      output="screen"/> 
  </group>



</launch>


